{% extends "base.html.twig" %}


{% block title %}
	Cadastro de clinte
{% endblock %}

{% block header %}Cadastro de clientes
{% endblock %}

{% block content %}
<a class=" hover:bg-slate-400 font-mono border-2 border-solid border-gray-500 rounded-lg" href="{{path('app_usuario')}}">Voltar</a>
	<div class=" grid grid-cols-3 grid-rows-1 gap-9 w-full">
        <form action="{{path('app_cliente_edit')}}" method="post">
         <input type="hidden" value="{{cliente.id}}" name="inputId">
            <input class="hover:bg-gray-200 border-2 border-solid border-gray-400" type="text" placeholder="Nome de Cliente" name="nome" value="{{cliente.nome}}">
            <input class="hover:bg-gray-200 border-2 border-solid border-gray-400" type="text" placeholder="CPF de Cliente" name="cpf" value="{{cliente.cpf}}">
            <input class="hover:bg-gray-200 border-2 border-solid border-gray-400" type="text" placeholder="Endereço de Cliente" name="endereco" value="{{cliente.endereco}}">
            <input class="hover:bg-gray-200 border-2 border-solid border-gray-400" type="text" placeholder="Contato de Cliente" name="contato" value="{{cliente.contato}}">
            <input class="bg-gray-300 hover:bg-gray-500 border-2 border-solid border-gray-600 rounded-lg" type="submit" value="ATUALIZAR">
        </form>
    </div>

{% endblock %}
